<main class="container">

  <div class="row justify-content-center">

    <img class="col - 8 offset-2" src="/images/BurgerPic.jpg" id="burgerImg">

    <div class="row justify-content-center">

      <h1 class="col-6 offset-3">EAT-DAT-BURGER!</h1>

    </div>

  </div>

  <div class="row justify-content-center">

    <section id="menu" class="col-5 p-5">

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          <p>Title: {{title}}</p>
          <button data-id="{{id}}" class="devour">Devour</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>

    </section>
    <section id="devoured" class="col-5 p-5 offset-1">

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
          <p>Title: {{title}}</p>
        </li>
        {{/if}}
        {{/each}}
      </ul>

    </section>

  </div>
</main>